/* typography - lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* global styling */
:root {
    --white: #FFFFFF; /* main color */
    --gray: #EEEEEE; /* bg color */
    --black: #000000; /* secondary color: text, footer */
    --green: #39811D; /* tertiary color: accent color, header */
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* box shadow */
}

*, /* resets default browser styling */
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
}

a {
    text-decoration: none; 
}

ol, ul, li {
    list-style: none; 
}

html {
    font-size: 62.5%; 
}

html:focus-within {
    scroll-behavior: smooth; 
}
  
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5; 
    background-color: #EEEEEE;  
    color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

img, picture {
    max-width: 100%; 
}

article, aside, footer, header, nav, section {
	display: block; 
}

/* navigation styling */

/* navigation bar styles */
nav {
    display: flex;
    position: fixed; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
}

/* navigation text styles */
nav p {
    font-size: 16px;
    font-weight: bold;
    color: #39811D;  
    cursor: pointer;
    transition: color 0.3s ease;  
}

/* navigation span styles */
nav p span {
    color: #000000;
    transition: color 0.3s ease; 
}

/* navigation list styles */
nav ul { 
    display: flex;
    gap: 16px; 
    font-size: 16px;
    z-index: 1; 
    margin-left: auto;  
}

/* navigation list item styles */
nav ul li {  
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; 
    background-color: #FFFFFF;  
}

/* navigation list item hover styles */
nav ul li:hover { 
    background-color: #39811D;
    color: #FFFFFF;
}

/* navigation list item anchor styles */
nav ul li a { 
    color: #000000;
    font-weight: normal;
    transition: color 0.3s ease; 
}

/* navigation list item anchor hover styles */
nav ul li:hover > a { 
    color: #FFFFFF;
    transition: color 0.3s ease; 
}

/* responsive styles for navigation */
@media only screen and (max-width: 880px) {
    nav {
        margin: 0 auto; 
    }
}

/* responsive styles for hidden navigation on small screens */
@media only screen and (max-width: 700px) {
    nav ul {
        display: none; 
    }
}

/* slider section styling */

/* section styles */
section {  
    position: relative;
    background-color: #39811D;
    height: 60vh; 
    overflow: hidden; 
    justify-content: center;
}

section h1 {  
    font-size: 64px;  
    line-height: 1.2;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center; 
    padding-top: 25vh;  
    width: 100%;
    box-sizing: border-box;
}

section p {  
    font-size: 24px; 
    line-height: 1.5;
    margin-bottom: 32px;
    color: #FFFFFF;
    text-align: center;  
    padding-top: 5vh;  
    width: 100%;
    box-sizing: border-box;
}

/* content styles */
.content {  
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #000000;
    width: 100%; 
    padding: 0 15%;  
    box-sizing: border-box;
}

/* heading styles */
.content h2 {
    font-size: 38.4px;  
    line-height: 1.2;
    margin-bottom: 16px;
}

/* paragraph styles */
.content p {
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 32px;
}

/* responsive styles */
@media only screen and (max-width: 945px) {
    .content h2 {
        font-size: 35.2px; 
    }
    
    .content p {
        font-size: 22.4px; 
    }
}

@media only screen and (max-width: 680px) {
    .content h2 {
        font-size: 32px; 
    }
    
    .content p {
        font-size: 19.2px; 
    }
}

@media only screen and (max-width: 300px) {
    .content h2 {
        font-size: 28.8px; 
    }
    
    .content p {
        font-size: 16px;
        display: none; 
    }
}

/* main content section styling */

/* main content container styles */
.main-content {  
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    gap: 20px; 
}

@media only screen and (max-width: 1124px) {
    .main-content {
        margin: 10px; 
        flex-direction: column;  
    }
}

/* blog section styles */
.blog {
    flex: 2; 
}

/* sidebar section styles */
.sidebar {
    flex: 1; 
}

/* post styles */
.post {  
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    min-height: 200px; 
    border-radius: 8px; 
    overflow: hidden;
    margin: 20px;
}

/* post image styles */
.post-image { 
    min-height: 200px;
    transition: opacity 0.3s ease;
    overflow: hidden; 
    width: 30%; 
    cursor: pointer;
}

/* hover effect on post image */
.post:hover .post-image img { 
    transform: scale(1.1);
    transition: transform 0.3s ease; 
}

/* post image inner styles */
.post-image img { 
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover; 
    width: 100%; 
}

/* post content styles */
.post-content { 
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    width: 78%; 
}

/* post title styles */
.post-title { 
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    cursor: default; 
    margin-bottom: 10px; 
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;  
    text-decoration: none; 
}

/* post title hover styles */
.post-title:hover {
    color: #0000FF; 
    text-decoration: underline; 
  }

/* post info styles */
.post-info { 
    text-align: left;
    color: #000000;
    font-size: 18px; 
    margin-bottom: 20px; 
}

/* post summary styles */
.post-summary { 
    line-height: 1.5;
    color: #000000;
    font-size: 16px; 
}

/* responsive styles */
@media only screen and (max-width: 992px) {
    .main-content {
        flex-direction: column; 
    }
}

/* responsive styles for posts */
@media only screen and (max-width: 500px) {
    .main-content {
        margin: 0 20px; 
    }

    .post {
        flex-direction: column; 
    }

    .post-image { 
        width: 100%;
        height: 200px;
        min-height: 200px;
    }

    .post-content { 
        width: 100%;
    }
}

/* sidebar styling */

/* sidebar container styles */
.sidebar { 
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    align-content: flex-start; 
}

/* popular posts container styles */
.popular-posts-side { 
    margin: 0px 20px;
    width: 100%; 
    text-align: left;
    position: relative;
    overflow: hidden;
    align-items: center;
}

/* popular posts heading styles */
.popular-posts-side h2, .social-side h2 { 
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 0; 
    text-align: center;
    order: -1;  
}

/* popular post styles */
.popular-post {  
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    padding: 20px;
    gap: 20px; 
    border-radius: 8px;
    margin: 30px 30px;
    float: left;
    width: 40%;
    margin-left: 80px; 
}

/* popular post hover styles */
.popular-post-image img:hover { 
    transform: scale(1.1);
    transition: transform 0.3s ease; 
} 

/* popular post image styles */
.popular-post-image {  
    width: 100px;
    height: 120px; 
    overflow: hidden;  
    border-radius: 8px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

/* popular post image hover styles */
.popular-post-image img {  
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease;  
}

/* popular post title styles */
.popular-post-title {  
    font-size: 16px;  
    color: #000000;
    font-weight: bold; 
    margin-bottom: 5px;
    text-align: right;  
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease; 
    text-decoration: none; 
}

/* popular post title hover styles */
.popular-post-title:hover {
    color: #0000FF; 
    text-decoration: underline; 
  }

/* popular post description styles */
.popular-post-desc {  
    font-size: 14px; 
    color: #000000;  
    margin-bottom: 10px;
    text-align: right;  
}

/* responsive styles for popular posts container */
@media only screen and (max-width: 500px) {
    .popular-posts-side {
        margin: 10px 0; 
    }

    .sidebar {
        flex-direction: column; 
    }
}

.social-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin: 20px auto;
    padding: 20px;
  }
  
  .social-side h2 {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-side div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Ensure items wrap to next line if necessary */
  }
  
  .social-side div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-side div a:hover {
    transform: scale(1.2);
  }
  
  .social-side img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-bottom: 0;
    transition: transform 0.3s ease;
    border-radius: 8px;
  }  

/* footer splitter styles */
@media only screen and (max-width: 992px) { 
  .sidebar {
        flex-direction: column; 
    }

    .popular-posts-side {
        flex: 1; 
    }
}

/* footer styling */

/* footer container styles */
.container footer { 
    background-color: #000000;
    color: #000000; 
}

/* footer boxes container styles */
.container footer .footerBoxes { 
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 20px 0; 
}

/* responsive styles for footer boxes container */
@media only screen and (max-width: 1000px) { 
    .container footer .footerBoxes {
        padding: 10px 0; 
    }
}

/* responsive styles for footer boxes container (mobile) */
@media only screen and (max-width: 600px) { 
    .container footer .footerBoxes {
        flex-direction: column; 
    }
}

/* footer box styles */
.container footer .footerBoxes .footerBox { 
    flex: 1;
    text-align: left; 
    flex-basis: calc(30% - 40%);
    margin: 0 20px;
}

/* footer box heading styles */
.container footer .footerBoxes .footerBox h3 { 
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    margin: 20px 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* footer box divider styles */
.container footer .footerBoxes .footerBox hr { 
    height: 1px;
    width: 100%;
    background: #000000;
    border: none;
    margin-bottom: 20px; 
}

/* footer box text styles */
.container footer .footerBoxes .footerBox p { 
    font-size: 13px;
    color: #FFFFFF; 
    margin: 20px 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-width: 25px;
}

/* footer splitter styles */
.container footer .splitter { 
    height: 1px;
    width: 95%;
    margin: 20px 20px;
    background: #FFFFFF;
    border: none;
    margin-bottom: 10px; 
}

/* copy-right text styles */
.copy-right { 
    font-size: 14px;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    padding: 20px 20px; 
    color: #FFFFFF;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsive Design */

/* Add your own responsive design styles here */

/* Additional Tips */

/* Add any additional styling tips here */